
# Folder(s) to be ignored while push (or) upload to the Git repository from local-repository
temp/
test/
Docker/
node_modules/


# Files(s) to be ignored while push (or) upload to the Git repository from local-repository
.ENV
notes.txt
secrets.Env
package-lock.json
How to Host a React App on GitHub.docx